/* NAVBAR BASE */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffffea;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #eee;
    z-index: 1000;
    transition: 0.3s;
  }
  
  .nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* LOGO */
  .logo a {
    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: none;
    color: #111;
  }
  
  .logo span {
    color: #0070f3;
  }
  
  /* MENU DESKTOP */
  .nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
  }
  
  .nav-links li a {
    text-decoration: none;
    font-size: 1rem;
    color: #444;
    position: relative;
    padding-bottom: 5px;
    transition: 0.3s ease;
  }
  
  /* HOVER ANIMATION */
  .nav-links li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #0070f3;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }
  
  .nav-links li a:hover::after {
    width: 100%;
  }
  
  /* ACTIVE MENU */
  .nav-links li a.active {
    color: #0070f3;
    font-weight: 600;
  }
  
  .nav-links li a.active::after {
    width: 100%;
  }
  
  /* HAMBURGER (MOBILE) */
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }
  
  .line {
    width: 28px;
    height: 3px;
    background: #333;
    transition: 0.3s;
  }
  
  /* HAMBURGER ANIMATION */
  .line.open:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .line.open:nth-child(2) {
    opacity: 0;
  }
  .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  
  /* MOBILE MENU */
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 250px;
      background: white;
      flex-direction: column;
      padding: 120px 30px;
      gap: 30px;
      transition: 0.4s ease;
      box-shadow: -4px 0 10px rgba(0,0,0,0.1);
    }
  
    .nav-links.open {
      right: 0;
    }
  
    .nav-links li a {
      font-size: 1.3rem;
    }
  }
  